body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.fluid-container {
  width: 100%;
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  width: 100%;
  border-bottom: 4px solid gold;
  background-color: #8a6d3b;
  margin-left: 0;
  margin-right: 0; }
  .header__icon {
    cursor: pointer;
    width: 50px;
    color: gold;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 3em;
    display: none; }
    @media screen and (max-width: 650px) {
      .header__icon {
        display: block; } }

.nav {
  width: 100%; }
  @media screen and (max-width: 650px) {
    .nav {
      height: auto;
      border: none; } }
  .nav__list {
    width: 40%;
    margin: 0 auto;
    display: flex;
    padding: 0;
    justify-content: space-between; }
    @media screen and (max-width: 1200px) {
      .nav__list {
        width: 50%; } }
    @media screen and (max-width: 1000px) {
      .nav__list {
        width: 60%; } }
    @media screen and (max-width: 800px) {
      .nav__list {
        width: 70%; } }
    @media screen and (max-width: 650px) {
      .nav__list {
        flex-direction: column;
        text-align: center;
        display: none; } }
  .nav__item {
    padding: 1.2em;
    list-style-type: none; }
  .nav__link {
    font-size: 2em;
    color: white;
    font-weight: bold;
    text-decoration: none; }
    .nav__link:hover {
      color: goldenrod;
      text-decoration: none; }

.contact {
  padding: 0 2%; }
  .contact__heading {
    font-size: 3.2em;
    text-align: center; }
    @media screen and (max-width: 410px) and (min-width: 311px) {
      .contact__heading {
        font-size: 2em; } }
    @media screen and (max-width: 510px) and (min-width: 411px) {
      .contact__heading {
        font-size: 2.125em; } }
    @media screen and (max-width: 610px) and (min-width: 511px) {
      .contact__heading {
        font-size: 2.25em; } }
    @media screen and (max-width: 710px) and (min-width: 611px) {
      .contact__heading {
        font-size: 2.375em; } }
    @media screen and (max-width: 810px) and (min-width: 711px) {
      .contact__heading {
        font-size: 2.5em; } }
    @media screen and (max-width: 910px) and (min-width: 811px) {
      .contact__heading {
        font-size: 2.625em; } }
    @media screen and (max-width: 1010px) and (min-width: 911px) {
      .contact__heading {
        font-size: 2.75em; } }
    @media screen and (max-width: 1110px) and (min-width: 1011px) {
      .contact__heading {
        font-size: 2.875em; } }
    @media screen and (max-width: 1210px) and (min-width: 1111px) {
      .contact__heading {
        font-size: 3em; } }
    @media screen and (max-width: 1310px) and (min-width: 1211px) {
      .contact__heading {
        font-size: 3.125em; } }

.email {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
  margin-bottom: 2%; }
  @media screen and (max-width: 410px) and (min-width: 311px) {
    .email {
      font-size: 0.9375em; } }
  @media screen and (max-width: 510px) and (min-width: 411px) {
    .email {
      font-size: 1.0625em; } }
  @media screen and (max-width: 610px) and (min-width: 511px) {
    .email {
      font-size: 1.1875em; } }
  @media screen and (max-width: 710px) and (min-width: 611px) {
    .email {
      font-size: 1.3125em; } }
  @media screen and (max-width: 810px) and (min-width: 711px) {
    .email {
      font-size: 1.4375em; } }
  @media screen and (max-width: 910px) and (min-width: 811px) {
    .email {
      font-size: 1.5625em; } }
  @media screen and (max-width: 1010px) and (min-width: 911px) {
    .email {
      font-size: 1.6875em; } }
  @media screen and (max-width: 1110px) and (min-width: 1011px) {
    .email {
      font-size: 1.8125em; } }
  @media screen and (max-width: 1210px) and (min-width: 1111px) {
    .email {
      font-size: 1.9375em; } }
  @media screen and (max-width: 1310px) and (min-width: 1211px) {
    .email {
      font-size: 2.0625em; } }
  .email__col-1, .email__col-2 {
    width: 50%; }
  .email__p {
    margin: 0;
    padding: 0; }

.tel {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
  margin-bottom: 2%; }
  @media screen and (max-width: 410px) and (min-width: 311px) {
    .tel {
      font-size: 0.9375em; } }
  @media screen and (max-width: 510px) and (min-width: 411px) {
    .tel {
      font-size: 1.0625em; } }
  @media screen and (max-width: 610px) and (min-width: 511px) {
    .tel {
      font-size: 1.1875em; } }
  @media screen and (max-width: 710px) and (min-width: 611px) {
    .tel {
      font-size: 1.3125em; } }
  @media screen and (max-width: 810px) and (min-width: 711px) {
    .tel {
      font-size: 1.4375em; } }
  @media screen and (max-width: 910px) and (min-width: 811px) {
    .tel {
      font-size: 1.5625em; } }
  @media screen and (max-width: 1010px) and (min-width: 911px) {
    .tel {
      font-size: 1.6875em; } }
  @media screen and (max-width: 1110px) and (min-width: 1011px) {
    .tel {
      font-size: 1.8125em; } }
  @media screen and (max-width: 1210px) and (min-width: 1111px) {
    .tel {
      font-size: 1.9375em; } }
  @media screen and (max-width: 1310px) and (min-width: 1211px) {
    .tel {
      font-size: 2.0625em; } }
  .tel__col-1, .tel__col-2 {
    width: 50%; }
  .tel__p {
    margin: 0;
    padding: 0; }

.address {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
  margin-bottom: 2%; }
  @media screen and (max-width: 410px) and (min-width: 311px) {
    .address {
      font-size: 0.9375em; } }
  @media screen and (max-width: 510px) and (min-width: 411px) {
    .address {
      font-size: 1.0625em; } }
  @media screen and (max-width: 610px) and (min-width: 511px) {
    .address {
      font-size: 1.1875em; } }
  @media screen and (max-width: 710px) and (min-width: 611px) {
    .address {
      font-size: 1.3125em; } }
  @media screen and (max-width: 810px) and (min-width: 711px) {
    .address {
      font-size: 1.4375em; } }
  @media screen and (max-width: 910px) and (min-width: 811px) {
    .address {
      font-size: 1.5625em; } }
  @media screen and (max-width: 1010px) and (min-width: 911px) {
    .address {
      font-size: 1.6875em; } }
  @media screen and (max-width: 1110px) and (min-width: 1011px) {
    .address {
      font-size: 1.8125em; } }
  @media screen and (max-width: 1210px) and (min-width: 1111px) {
    .address {
      font-size: 1.9375em; } }
  @media screen and (max-width: 1310px) and (min-width: 1211px) {
    .address {
      font-size: 2.0625em; } }
  .address__col-1, .address__col-2 {
    width: 50%; }
  .address__p {
    margin: 0;
    padding: 0; }

#map {
  width: 100%;
  height: 500px; }

.footer {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-color: #8a6d3b;
  border-top: 4px solid gold; }
  .footer__copyright {
    text-align: center;
    color: white;
    font-size: 2em;
    padding-bottom: 0.7em;
    margin-bottom: 0; }
    @media screen and (max-width: 649px) and (min-width: 320px) {
      .footer__copyright {
        font-size: 0.8em; } }
    @media screen and (max-width: 999px) and (min-width: 650px) {
      .footer__copyright {
        font-size: 1.4em; } }
    @media screen and (max-width: 1200px) and (min-width: 1000px) {
      .footer__copyright {
        font-size: 1.8em; } }
