body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

.fluid-container {
  width: 100%;
  padding: 0;
  margin: 0; }

.header {
  background-color: #8a6d3b;
  display: flex; }
  .header__icon {
    cursor: pointer;
    width: 50px;
    color: gold;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 3em;
    margin-right: 10%; }
  .header .form {
    width: 70%;
    height: 72px;
    margin-left: auto;
    margin-right: auto; }
    .header .form__input {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      padding: 5px;
      border-radius: 8px;
      color: goldenrod;
      font-weight: bold;
      font-size: 1.5em;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
      @media screen and (max-width: 649px) and (min-width: 320px) {
        .header .form__input {
          font-size: 1em; } }
      @media screen and (max-width: 999px) and (min-width: 650px) {
        .header .form__input {
          font-size: 1em; } }
      @media screen and (max-width: 1200px) and (min-width: 1000px) {
        .header .form__input {
          font-size: 1.3em; } }
      .header .form__input:focus {
        border: 4px solid goldenrod;
        outline: none; }
      .header .form__input::-webkit-input-placeholder {
        color: goldenrod;
        font-weight: bold; }
    .header .form__submit {
      margin-top: 20px;
      padding: 5px;
      border-radius: 8px;
      color: goldenrod;
      font-weight: bold;
      width: 90px;
      border: 4px solid goldenrod;
      background-color: white;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      display: none; }

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #8a6d3b;
  border: none; }
  @media screen and (max-width: 650px) {
    .nav {
      height: auto; } }
  .nav__close {
    text-align: right;
    cursor: pointer;
    color: white;
    font-size: 3.2em;
    margin: 0;
    padding: 0;
    margin-right: 5px; }
    .nav__close:hover {
      color: gold; }
  .nav__section {
    overflow: hidden;
    margin-bottom: 5%; }
  .nav__title {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.6em;
    text-align: left;
    font-weight: bold; }
    @media screen and (max-height: 400px) {
      .nav__title {
        font-size: 1.2em; } }
  .nav__list {
    margin: 2% 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 0;
    display: none; }
  .nav__item {
    position: relative;
    padding: 0.7em;
    list-style-type: none; }
  .nav__link {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    text-decoration: none; }
    @media screen and (max-height: 400px) {
      .nav__link {
        font-size: 1em; } }
    .nav__link:hover {
      color: goldenrod;
      text-decoration: none; }
  .nav__btn {
    position: relative;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    border-left: none;
    border-right: none;
    color: goldenrod;
    padding: 5px 10px;
    display: block;
    outline: none;
    width: 100%;
    background-color: #8a6d3b; }
    .nav__btn::after {
      position: absolute;
      right: 5%;
      top: -5%;
      content: '\002B';
      color: goldenrod;
      font-size: 1.3em; }
    .nav__btn:hover, .nav__btn:active {
      outline: none;
      border-top: 2px solid gold;
      border-bottom: 2px solid gold;
      color: gold; }
    .nav__btn:hover::after {
      color: gold; }
    .nav__btn.active {
      border-top: 2px solid gold;
      border-bottom: 2px solid gold;
      color: gold; }
      .nav__btn.active::after {
        content: "\2212";
        color: gold; }

.content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: auto; }

.product-area {
  width: 100%;
  background-color: white; }
  .product-area__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.product-column {
  background-color: #8a6d3b;
  margin-top: 20px;
  text-align: center;
  margin-right: 2%;
  margin-left: 1%;
  border-radius: 10%; }

.product-img img {
  border-radius: 10%; }

.product-text__price {
  margin-top: 5%;
  font-size: 1.2em;
  color: white;
  margin-bottom: 5%; }

.product-text__detail {
  display: inline-block;
  font-size: 1.2em;
  color: goldenrod;
  border: 4px solid goldenrod;
  padding: 0.5em;
  text-decoration: none;
  width: 100px;
  margin-bottom: 5%;
  border-radius: 10%; }
  .product-text__detail:hover {
    color: gold;
    border: 4px solid gold; }

.footer {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2%;
  background-color: #8a6d3b;
  border-top: 4px solid gold; }
  .footer__copyright {
    text-align: center;
    color: white;
    font-size: 2em;
    padding-bottom: 0.7em;
    margin-bottom: 0; }
    @media screen and (max-width: 649px) and (min-width: 320px) {
      .footer__copyright {
        font-size: 0.8em; } }
    @media screen and (max-width: 999px) and (min-width: 650px) {
      .footer__copyright {
        font-size: 1.4em; } }
    @media screen and (max-width: 1200px) and (min-width: 1000px) {
      .footer__copyright {
        font-size: 2em; } }
