@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.header {
  @include make-row();
  margin-left: 0;
  margin-right: 0;
  &__menu {

  }
  &__menu svg {
      width: 32px;
      fill: #E0E0E0;
    }


}

.nav {
  background-color: #8a6d3b;
  border-bottom: 4px solid gold;
  @include make-md-column(12);

  &__list {
    width: 40%;
    margin: 0 auto;
    display: flex;
    padding: 0;
    justify-content: space-between;
    @media (max-width: 1200px) {
      width: 50%;
    }
    @media (max-width: 1000px) {
      width: 60%;
    }
    @media (max-width: 800px) {
      width: 70%;
    }



  }
  &__item {
    padding: 1.2em;
    list-style-type: none;
    @media (max-width: 650px) {
    display: none;
  }

  }
  &__link {
    font-size: 2em;
    color: white;
    font-weight: bold;
    &:hover {
      color: goldenrod;
      text-decoration: none;

    }
  }
}


.presentation {

  @include make-row();
  margin-left: 0;
  margin-right: 0;

  &__heading-1 {
    @include make-md-column(12);
    font-size: 5em;
    text-align: center;
    margin-bottom: 10%;
  }

  &__heading-2 {
    @include make-md-column(12);
    font-size: 4em;
    text-align: center;
    margin-bottom: 7%;
  }

  &__row {
    @include make-md-column(12);
    margin-bottom: 5%;
  }
  &__img-b {
    text-align: center;
    @include make-md-column(6);
  }
  &__img {
    width: 511px;
    @include img-responsive();
    margin: 0 auto;
  }
  &__text {
    @include make-md-column(6);



  }
  &__par {
    text-indent: 1em;
    text-align: justify;
    font-size: 3em;

  }

}

.footer {
  @include make-row();
  margin-left: 0;
  margin-right: 0;
  background-color: #8a6d3b;
  border-top: 4px solid gold;
  &__copyright {
    text-align: center;
    color: white;
    font-size: 2em;
  }
}