body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.fluid-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #8a6d3b;
  display: flex;
  &__icon {
    cursor: pointer;
    width: 50px;

    color: gold;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 3em;
    margin-right: 10%;
  }
  .form {

    width: 70%;

    height: 72px;
    margin-left: auto;
    margin-right: auto;

    &__input {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      padding: 5px;
      border-radius: 8px;
      color: goldenrod;
      font-weight: bold;
      font-size: 1.5em;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      @media screen and (max-width: 649px) and (min-width: 320px) {
        font-size: 1em;
      }
      @media screen and (max-width: 999px) and (min-width: 650px) {
        font-size: 1em;
      }
      @media screen and (max-width: 1200px) and (min-width: 1000px) {
        font-size: 1.3em;
      }
      &:focus {
        border: 4px solid goldenrod;
        outline: none;
      }
      &::-webkit-input-placeholder {
        color: goldenrod;
        font-weight: bold;
      }

    }
    &__submit {
      margin-top: 20px;
      padding: 5px;
      border-radius: 8px;
      color: goldenrod;
      font-weight: bold;
      width: 90px;
      border: 4px solid goldenrod;
      background-color: white;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      display: none;
    }

  }

}

  .nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #8a6d3b;
  border: none;
  @media screen and (max-width: 650px) {
    height: auto;

  }

  &__close {
    text-align: right;
    cursor: pointer;
    color: white;
    font-size: 3.2em;

    margin: 0;
    padding: 0;
    margin-right: 5px;

    &:hover {
      color: gold;
    }
  }
  &__section {
    overflow:hidden;
    margin-bottom: 5%;
  }
  &__title {


    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.6em;

    text-align: left;
    font-weight: bold;
    @media screen and (max-height: 400px) {
      font-size: 1.2em;
    }
  }
  &__list {
    margin: 2% 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 0;
    display: none;

  }
  &__item {
    position: relative;
    padding: 0.7em;
    list-style-type: none;

  }
  &__link {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    @media screen and (max-height: 400px) {
      font-size: 1em;
    }
    &:hover {
      color: goldenrod;
      text-decoration: none;
    }

  }
  &__btn {
    position: relative;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    border-left: none;
    border-right: none;
    color: goldenrod;
    padding: 5px 10px;
    display: block;
    outline: none;
    width: 100%;
    background-color: #8a6d3b;

    &::after {
      position: absolute;
      right: 5%;
      top: -5%;
      content: '\002B';
      color: goldenrod;
      font-size: 1.3em;
    }
    &:hover, &:active {
      outline: none;
      border-top: 2px solid gold;
      border-bottom: 2px solid gold;
      color: gold;
    }
    &:hover::after {
      color: gold;
    }
     &.active {
      border-top: 2px solid gold;
      border-bottom: 2px solid gold;
      color: gold;
      &::after {
        content: "\2212";
        color: gold;
      }
    }

  }
}
  .content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: auto;

  }

  .product-area {

    width: 100%;
    background-color: white;
    &__box {
       display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

  }

  .product-column {
    background-color: #8a6d3b;
    margin-top: 20px;
    text-align: center;
    margin-right: 2%;
    margin-left: 1%;
    border-radius: 10%;
  }
  .product-img img {
    border-radius: 10%;
  }
  .product-text {
    &__price {
      margin-top: 5%;
      font-size: 1.2em;
      color: white;
      margin-bottom: 5%;
    }
    &__detail {
      display: inline-block;
      font-size: 1.2em;
      color: goldenrod;
      border: 4px solid goldenrod;
      padding: 0.5em;
      text-decoration: none;
      width: 100px;
      margin-bottom: 5%;
      border-radius: 10%;
      &:hover {
        color: gold;
        border: 4px solid gold;
      }
    }
  }

  .footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
    background-color: #8a6d3b;
    border-top: 4px solid gold;
    &__copyright {
      text-align: center;
      color: white;
      font-size: 2em;
      padding-bottom: 0.7em;
      margin-bottom: 0;
      @media screen and (max-width: 649px) and (min-width: 320px) {
        font-size: 0.8em;
      }
      @media screen and (max-width: 999px) and (min-width: 650px) {
        font-size: 1.4em;
      }
      @media screen and (max-width: 1200px) and (min-width: 1000px) {
        font-size: 2em;
      }
    }
  }



