$browser-context: 16; // Default

/**
  *Description: converts pixels to em's. Pixels should be defined without px ending.
  *@function 
  *@param {px} pixels
  *@param {px} context -  default font-size on page
 */

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em
}

@mixin makeNullPaddingAndMargin() {
    margin: 0;
    padding: 0;
}


/**
  *Description: changes font-size by 0.3em every 100px starting from 310px width up to 2100px  
  *@mixin 
  *@param {px} min-width - Min-width of media query 
  *@param {px} max-width - Max-width of media query
  *@param {px} font-size - font-size which is converted to em's
 */



@mixin changeFontSizeWithMedia($min-width: 210px, $max-width: 310px, $font-size: 30) {
    @for $i from 1 to 20 {
        @media screen and (max-width: $max-width+(#{$i} * 100)) and (min-width: $min-width+1+(#{$i} * 100)) {
            font-size: em($i * 2 + $font-size);
        }
    }
}