.footer {
    margin-top: 10px;
    background-color: #8a6d3b;
    border-top: 4px solid gold;
    @include make-row();
    &__p {
        text-align: center;
    }
    &__link {
        color: white;
        font-size: 2.3em;
        &:hover {
            color: white;
        }
        @media screen and (max-width: 649px) and (min-width: 320px) {
            font-size: 1em;
        }
        @media screen and (max-width: 999px) and (min-width: 650px) {
            font-size: 1.4em;
        }
        @media screen and (max-width: 1200px) and (min-width: 1000px) {
            font-size: 2em;
        }
    }
}