.product {
    margin-top: 10px;
    @include make-row();
    @media screen and (max-width: 585px) and (min-width: 320px) {
        margin-bottom: 200px;
    }
    &__div-img {
        @include make-xs-column(6);
        @include make-sm-column(6);
        @include make-md-column(6);
        text-align: center;
    }
    &__img {
        width: 511px;
        max-width: 100%;
    }
    &__h1 {
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        @include changeFontSizeWithMedia(210px, 320px, 16);
        @media screen and (max-width: 350px) and (min-width: 320px) {
            margin-top: 0;
        }
    }
    &__text {
        @include make-xs-column(6);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include changeFontSizeWithMedia(210px, 320px, 10);
        @media screen and (max-width: 460px) and (min-width: 320px) {
            font-size: 0.8em;
        }
    }
    &__desc ~ p {
        text-align: justify;
        @media screen and (max-width: 350px) and (min-width: 320px) {
            margin-top: 0;
        }
    }
    &__link {
        display: block;
        color: white;
        text-align: center;
        @include changeFontSizeWithMedia(210px, 320px, 10);
        width: 300px;
        max-width: 100%;
        background-color: #8a6d3b;
        border: 2px solid gold;
        text-decoration: none;
        border-radius: 10px;
        &:hover {
            color: gold;
            text-decoration: none;
        }
    }
    &__btn {
        display: inline-block;
    }
}